* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Nunito;
    font-size: 1rem;

}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}



nav {
    position: absolute;
}

.ff {
    width: 100%;
    height: 100%;

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(2, 146, 2);
    color: green;
}



.social-links {

    margin: 0 30px;

}

.nav-links a {
    background: green;
    color: white;
    padding: 7px 10px;
    border-radius: 11px;
    box-shadow: inset 0 0 1px #2c7289;

    transition: 0.4s;
    margin: 0.5px;
}

.nav-links a:hover {
    background: #041920;
    color: #fff;
    box-shadow: inset 0 0 3px 1px #76cbe7;
}

#bars {
    background: blue;
    padding: 4px 7px;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #155980;
    display: none;
}

.toggle {
    display: block;
}

.gg {
    color: rgb(245, 10, 10);
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    /* background: red; */
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 50px;

}

.banner h2 {
    margin: 10px 0;
    font-size: 30px;
}

.banner p {
    font-size: 1.8rem;
}

.btn {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;

}

.btn-primary {
    background: rgb(2, 146, 2);
}

.fg {
    font-size: 100px;
}

.about {
    background: url("../img/h1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about-section {
    height: 550px;
    display: flex;
    align-items: center
}



.service {
    background: url("../img/h3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

*/ .about-image-container {
    padding-left: 50px;
}

.about-card {
    background: white;
    padding: 30px;
    border-radius: 40px;
}

.about-card {
    color: black;
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

.about-description {
    margin: 15px 0;
}

.about-image-container,
.about-card {
    flex: 1;
}

.about-section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-title {
    background: white;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-small-card {
    flex: 1 1 16rem;
    background: #017FEA;
}

.product-information {
    padding: 10px;
}

.product-small-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

.product {
    background: url("../img/h2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}